h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-black font-semibold mb-1;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
	@apply no-underline;
}

h1 {
	@apply mt-10 text-3xl;
}

h2 {
	@apply mt-8 text-2xl;
}

h3 {
	@apply mt-6 text-xl;
}

h4 {
	@apply mt-4 text-lg;
}

h5 {
	@apply mt-3 text-base;
}

h6 {
	@apply mt-2 text-sm;
}
