<div class="w-full hero-banner" style="background-image: url({{ @site.cover_image }})">

  <div class="container h-full mx-auto p-12">

    <div class="h-full mx-auto max-w-xl flex flex-col flex-center-all">

      <img src="{{ @site.logo }}"
        alt=""
        class="h-12 mb-6">
        
      <p>{{ @site.description }}</p>
    </div>
  </div>
</div>
