<nav>
  <button class="w-12 h-12 hover:bg-light-grey rounded cursor-pointer transition-color duration-75 ease-in-out"
    type="button">
    
    <img src="{{ asset 'images/icons/hamburger.svg' }}"
      class="w-full h-full"
      alt="Hamburger icon">
  </button>
</nav>
