{{!< default }}

{{#post }}
  <div class="post-container container px-6 mb-12 mx-auto">
    <h1 class="my-1 leading-9">{{ title }}</h1>

    <p>Author: <a href="{{ primary_author.url }}">{{ primary_author.name }}</a></p>

    <hr class="mt-3">

    {{ content }}

  </div>
{{/post }}

<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
</script>
