@import './tailwindcss/base.css';

@import './base/text.css';
@import './base/headings.css';
@import './base/lists.css';
@import './base/quote.css';
@import './base/horizontal-line.css';
@import './base/markdown.css';

@import './base/ghost.css';

@import './tailwindcss/components.css';

/* Importing components */
@import './components/gallery.css';
@import './components/hero-banner.css';
@import './components/image-card.css';
@import './components/embed.css';
@import './components/post-card.css';

/* Importing layout components (e.g. footer or header) */
@import './layout/footer.css';

/* Importing page specific styles */
@import './pages/post.css';

@import './tailwindcss/utilities.css';

/* Importing custom tailwind utilities */
@import './utilities/flex-center-all.css';

/* Importing animations */
@import './animations/fly.css';
