@tailwind base;

@tailwind components;

.kg-width-wide,
.kg-width-full,
.kg-gallery-container,
.kg-gallery-row,
.kg-gallery-image,
.kg-bookmark-card,
.kg-bookmark-content,
.kg-bookmark-title,
.kg-bookmark-description,
.kg-bookmark-metadata,
.kg-bookmark-icon,
.kg-bookmark-author,
.kg-bookmark-publisher,
.kg-bookmark-thumbnail {
}

@tailwind utilities;

/* This utility is a shorthand class to center items inside a flex container
 * vertically and horizontally
 */

.flex-center-all {
	@apply justify-center items-center;
}

.footer__grid {
	grid-template-rows: repeat(2, 6rem);
	grid-template-columns: 100%;
}

@screen md {
	.footer__grid {
		grid-template-rows: 6rem;
		grid-template-columns: 30% 1px 1fr;
	}
}
